<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li aria-current="page" class="breadcrumb-item active">Paramètres</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Paramètres</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="configOptionsFrom" class="forms-sample">
          <div class="mb-3">
            <label class="form-label" for="LAST_INVOICE_NUMBER">Dernier numéro de facture</label>
            <input class="form-control" formControlName="LAST_INVOICE_NUMBER" id="LAST_INVOICE_NUMBER"
                   name="LAST_INVOICE_NUMBER"
                   placeholder="Exemple : 12"
                   type="number">
            <p
              *ngIf="!configOptionsFrom?.get('LAST_INVOICE_NUMBER')?.valid && configOptionsFrom?.get('LAST_INVOICE_NUMBER')?.touched"
              class="text-danger mt-1">Le champ du dernier numéro de facture est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="LAST_BL_NUMBER">Dernier numéro du bon de livraison</label>
            <input class="form-control" formControlName="LAST_BL_NUMBER" id="LAST_BL_NUMBER" name="LAST_BL_NUMBER"
                   placeholder="Exemple : 48"
                   type="number">
            <p
              *ngIf="!configOptionsFrom?.get('LAST_BL_NUMBER')?.valid && configOptionsFrom?.get('LAST_BL_NUMBER')?.touched"
              class="text-danger mt-1">Le champ du dernier numéro du bon de livraison est requis !</p>
          </div>
          <button [disabled]="!configOptionsFrom.valid" class="btn btn-primary me-2" type="submit">Enregistrer</button>
          <button class="btn btn-secondary" routerLink="/">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>


<swal
  #errorSwal
  [showConfirmButton]=false
  [timerProgressBar]="true"
  [timer]="3000"
  [toast]="true"
  icon="error"
  position="top-end"
  title="Nous avons rencontré une erreur lors du traitement de votre demande.">
</swal>
