<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li aria-current="page" class="breadcrumb-item active">Changer le mot de passe</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Changer le mot de passe</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordFrom" class="forms-sample">
          <div class="mb-3">
            <label class="form-label" for="oldPassword">Ancien mot de passe</label>
            <input class="form-control" formControlName="oldPassword" id="oldPassword" name="oldPassword"
                   placeholder="Ancien mot de passe"
                   type="password">
            <p *ngIf="!changePasswordFrom?.get('oldPassword')?.valid && changePasswordFrom?.get('oldPassword')?.touched"
               class="text-danger mt-1">Le champ du mot de passe actuel est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nouveau mot de passe</label>
            <input class="form-control" formControlName="newPassword" id="newPassword" name="newPassword"
                   placeholder="Nouveau mot de passe"
                   type="password">
            <p *ngIf="!changePasswordFrom?.get('newPassword')?.valid && changePasswordFrom?.get('newPassword')?.touched"
               class="text-danger mt-1">Le champ du nouveau mot de passe est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="confirmNewPassword">Confirmer le nouveau mot de passe</label>
            <input class="form-control" formControlName="confirmNewPassword" id="confirmNewPassword"
                   name="confirmNewPassword" placeholder="Confirmer le nouveau mot de passe"
                   type="password">
            <p
              *ngIf="!changePasswordFrom?.get('confirmNewPassword')?.valid && changePasswordFrom?.get('confirmNewPassword')?.touched"
              class="text-danger mt-1">Le champ de confirmation du nouveau mot de passe est requis !</p>
          </div>
          <button [disabled]="!changePasswordFrom.valid" class="btn btn-primary me-2" type="submit">Enregistrer</button>
          <button class="btn btn-secondary" routerLink="/">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>
