<nav class="navbar">
  <a (click)="toggleSidebar($event)" class="sidebar-toggler" href="">
    <i class="feather icon-menu"></i>
  </a>
  <div class="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item nav-profile" ngbDropdown>
        <a class="nav-link" id="profileDropdown" ngbDropdownToggle>
          <img alt=""
               class="wd-35 ht-35 rounded-circle"
               src="https://eu.ui-avatars.com/api/?name={{userDto?.firstName}}+{{userDto?.lastName}}&size=35">

        </a>
        <div aria-labelledby="profileDropdown" class="px-0" ngbDropdownMenu>
          <div class="d-flex flex-column align-items-center border-bottom px-5 py-3">
            <div class="mb-3">
              <img alt=""
                   class="wd-80 ht-80 rounded-circle"
                   src="https://eu.ui-avatars.com/api/?name={{userDto?.firstName}}+{{userDto?.lastName}}&size=80">
            </div>
            <div class="text-center">
              <p class="tx-16 fw-bolder">{{userDto?.firstName}} {{userDto?.lastName|uppercase}}</p>
              <p class="tx-12 text-muted">{{userDto?.email}}</p>
            </div>
          </div>
          <ul class="list-unstyled p-1">
            <li class="dropdown-item py-2">
              <a class="d-flex text-body ms-0" routerLink="change-password">
                <i class="feather icon-refresh-ccw me-2 icon-md"></i>
                <span>Changer le mot de passe</span>
              </a>
            </li>
            <li class="dropdown-item py-2">
              <a (click)="onLogout($event)" class="d-flex text-body ms-0" href="">
                <i class="feather icon-log-out me-2 icon-md"></i>
                <span>Se déconnecter</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
