<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li aria-current="page" class="breadcrumb-item active">Categories</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Categories</h2>
    <button class="btn btn-primary" routerLink="add-category" type="button"><i class="feather icon-plus"></i>Ajouter
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-hover" id="productsDataTable">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let category of categories">
              <td>{{category.name}}</td>
              <td>{{category.description}}</td>
              <td class="d-flex justify-content-end">
                <div aria-label="Basic example" class="btn-group" role="group">
                  <button class="btn btn-primary" routerLink="edit-category/{{ category.id }}" type="button">
                    <i class="feather icon-edit"></i>
                  </button>
                  <button (click)="openConfirmationModal(deleteConfirmationModal, category.id)" class="btn btn-danger">
                    <i class="feather icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #deleteConfirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirmation de suppression du categorie</h4>
    <button (click)="modal.dismiss('cancel')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body">
    <p>Voulez-vous vraiment supprimer cette categorie ?</p>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('confirm')" class="btn btn-danger" type="button">Supprimer</button>
    <button (click)="modal.dismiss('cancel')" class="btn btn-secondary" type="button">Annuler</button>
  </div>
</ng-template>
