<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li class="breadcrumb-item"><a routerLink="/customers">Clients</a></li>
    <li aria-current="page" class="breadcrumb-item active">Modifier un client</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Modifier un client</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="editCustomerFrom" class="forms-sample">
          <div class="mb-3">
            <label class="form-label" for="name">Nom</label>
            <input class="form-control" formControlName="name" id="name" placeholder="Nom" type="text">
            <p *ngIf="!editCustomerFrom?.get('name')?.valid && editCustomerFrom?.get('name')?.touched"
               class="text-danger mt-1">Le nom est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="phone">Téléphone</label>
            <input class="form-control" formControlName="phone" id="phone"
                   placeholder="Téléphone" type="text">
            <p *ngIf="!editCustomerFrom?.get('phone')?.valid && editCustomerFrom?.get('phone')?.touched"
               class="text-danger mt-1">Le téléphone est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-control" formControlName="email" id="email" name="email" placeholder="E-mail"
                   type="email">
            <p *ngIf="!editCustomerFrom?.get('email')?.valid && editCustomerFrom?.get('email')?.touched"
               class="text-danger mt-1">
              L'e-mail est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="address">Adresse</label>
            <input class="form-control" formControlName="address" id="address" name="address"
                   placeholder="Adresse"
                   type="text">
            <p *ngIf="!editCustomerFrom?.get('address')?.valid && editCustomerFrom?.get('address')?.touched"
               class="text-danger mt-1">L'adresse est requise !</p>
          </div>
          <button [disabled]="!editCustomerFrom.valid" class="btn btn-primary me-2" type="submit">Enregistrer</button>
          <button class="btn btn-secondary" routerLink="/customers">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>
