<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li class="breadcrumb-item"><a routerLink="/users">Utilisateurs</a></li>
    <li aria-current="page" class="breadcrumb-item active">Ajouter un utilisateur</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Ajouter un utilisateur</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addUserFrom" class="forms-sample">
          <div class="mb-3">
            <label class="form-label" for="firstname">Prénom</label>
            <input class="form-control" formControlName="firstName" id="firstname"
                   placeholder="Prénom" type="text">
            <p *ngIf="!addUserFrom?.get('firstName')?.valid && addUserFrom?.get('firstName')?.touched"
               class="text-danger mt-1">Le prénom est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="lastname">Nom</label>
            <input class="form-control" formControlName="lastName" id="lastname" placeholder="Nom"
                   type="text">
            <p *ngIf="!addUserFrom?.get('lastName')?.valid && addUserFrom?.get('lastName')?.touched"
               class="text-danger mt-1">Le nom est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" formControlName="email" id="email" name="email" placeholder="Email"
                   type="email">
            <p *ngIf="!addUserFrom?.get('email')?.valid && addUserFrom?.get('email')?.touched" class="text-danger mt-1">
              L'email est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Mot de passe</label>
            <input class="form-control" formControlName="password" id="password" name="password"
                   placeholder="Mot de passe"
                   type="password">
            <p *ngIf="!addUserFrom?.get('password')?.valid && addUserFrom?.get('password')?.touched"
               class="text-danger mt-1">Le mot de passe est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="role">Rôle</label>
            <select class="form-select" formControlName="role" id="role" name="role">
              <option disabled selected value="none">Sélectionner un rôle</option>
              <option *ngFor="let role of roles" value="{{role}}">{{role}}</option>
            </select>
            <p *ngIf="!addUserFrom?.get('role')?.valid && addUserFrom?.get('role')?.touched" class="text-danger mt-1">
              Le rôle est requis !</p>
          </div>
          <button [disabled]="!addUserFrom.valid" class="btn btn-primary me-2" type="submit">Enregistrer</button>
          <button class="btn btn-secondary" routerLink="/users">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>
