<div class="row w-75 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col">
          <div class="auth-form-wrapper px-4 pb-4 pt-3">
            <a class="nobleui-logo" routerLink=".">
              <img alt="logo" class="rounded mx-auto d-block mb-4 mt-2" src="assets/images/logo-black.png"
                   style="height: 104px;">
            </a>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginFrom" class="forms-sample">
              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" formControlName="email" id="email" name="email"
                       placeholder="Email" type="email">
                <p
                  *ngIf="!loginFrom?.get('email')?.valid && loginFrom?.get('email')?.touched"
                  class="text-danger mt-1">
                  Email is required!
                </p>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input autocomplete="current-password" class="form-control" formControlName="password"
                       id="password"
                       name="password" placeholder="Password" type="password">
                <p
                  *ngIf="!loginFrom?.get('password')?.valid && loginFrom?.get('password')?.touched"
                  class="text-danger mt-1">
                  Password is required!
                </p>
              </div>
              <div>
                <button class="btn btn-primary mx-auto d-block mt-4 rounded-pill"
                        type="submit">
                  <i class="feather icon-log-in me-2 icon-md"></i>Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
