<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h3 class="mb-3 mb-md-0 fw-bolder">Dashboard</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">
    <div class="row flex-grow-1">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-3">
              <h6 class="card-title mb-0 fw-bolder">New Orders</h6>
            </div>
            <ng-container *ngIf="isOrdersDataLoaded">
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{getTotal(orders)}}</h3>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [chart]="ordersChartOptions.chart"
                      [colors]="ordersChartOptions.colors"
                      [plotOptions]="ordersChartOptions.plotOptions"
                      [series]="ordersChartOptions.series"
                      [xaxis]="ordersChartOptions.xaxis"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-baseline mb-3">
              <h6 class="card-title mb-0 fw-bolder">New Customers</h6>
            </div>
            <ng-container *ngIf="isCustomersDataLoaded">
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{getTotal(customers)}}</h3>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [chart]="customersChartOptions.chart"
                      [colors]="customersChartOptions.colors"
                      [markers]="customersChartOptions.markers"
                      [series]="customersChartOptions.series"
                      [stroke]="customersChartOptions.stroke"
                      [xaxis]="customersChartOptions.xaxis"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0 fw-bolder">Monthly sales</h6>
          <h6 class="card-title mb-0 fw-bolder">Total sales: <span class="text-primary">$ {{getTotal(sales)}}</span></h6>
        </div>
        <ng-container *ngIf="isSalesDataLoaded">
          <apx-chart
            [chart]="monthlySalesChartOptions.chart"
            [colors]="monthlySalesChartOptions.colors"
            [dataLabels]="monthlySalesChartOptions.dataLabels"
            [fill]="monthlySalesChartOptions.fill"
            [grid]="monthlySalesChartOptions.grid"
            [legend]="monthlySalesChartOptions.legend"
            [plotOptions]="monthlySalesChartOptions.plotOptions"
            [series]="monthlySalesChartOptions.series"
            [stroke]="monthlySalesChartOptions.stroke"
            [xaxis]="monthlySalesChartOptions.xaxis"
            [yaxis]="monthlySalesChartOptions.yaxis"
          ></apx-chart>
        </ng-container>
      </div>
    </div>
  </div>
</div> <!-- row -->
