<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li class="breadcrumb-item"><a routerLink="/products">Produits</a></li>
    <li aria-current="page" class="breadcrumb-item active">Ajouter un produit</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Ajouter un produit</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addProductForm" class="forms-sample">
          <div class="mb-3">
            <label class="form-label" for="barCode">Code-barres</label>
            <input class="form-control" formControlName="barCode" id="barCode"
                   placeholder="Code-barres" type="number">
            <p *ngIf="!addProductForm?.get('barCode')?.valid && addProductForm?.get('barCode')?.touched"
               class="text-danger mt-1">Le code-barres est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="name">Nom du produit</label>
            <input class="form-control" formControlName="name" id="name" placeholder="Nom du produit" type="text">
            <p *ngIf="!addProductForm?.get('name')?.valid && addProductForm?.get('name')?.touched"
               class="text-danger mt-1">Le nom du produit est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="purchasePrice">Prix d'achat</label>
            <input class="form-control" formControlName="purchasePrice" id="purchasePrice" name="purchasePrice"
                   placeholder="Prix d'achat"
                   type="number">
            <p *ngIf="!addProductForm?.get('purchasePrice')?.valid && addProductForm?.get('purchasePrice')?.touched"
               class="text-danger mt-1">Le prix d'achat est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="sellingPriceExcludingTax">Prix de vente hors taxe</label>
            <input class="form-control" formControlName="sellingPriceExcludingTax" id="sellingPriceExcludingTax"
                   name="sellingPriceExcludingTax" placeholder="Prix de vente hors taxe"
                   type="number">
            <p
              *ngIf="!addProductForm?.get('sellingPriceExcludingTax')?.valid && addProductForm?.get('sellingPriceExcludingTax')?.touched"
              class="text-danger mt-1">Le prix de vente hors taxe est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="taxRate">Taux de taxe</label>
            <select class="form-select" formControlName="taxRate" id="taxRate" name="taxRate">
              <option disabled selected value="none">Sélectionner le taux de taxe</option>
              <option *ngFor="let taxRate of taxRates" value="{{taxRate}}">{{getTaxRateDisplayValue(taxRate)}}</option>
            </select>
            <p *ngIf="!addProductForm?.get('taxRate')?.valid && addProductForm?.get('taxRate')?.touched"
               class="text-danger mt-1">Le taux de taxe est requis !</p>
          </div>
          <div class="mb-3">
            <label class="form-label" for="category">Categorie</label>
            <select class="form-select" formControlName="category" id="category" name="category">
              <option disabled selected value="none">Sélectionner une categorie</option>
              <option *ngFor="let category of categories" value="{{category.id}}">{{category.name|titlecase}}</option>
            </select>
            <p *ngIf="!addProductForm?.get('category')?.valid && addProductForm?.get('category')?.touched"
               class="text-danger mt-1">
              La categorie est requis !</p>
          </div>
          <button [disabled]="!addProductForm.valid" class="btn btn-primary me-2" type="submit">Enregistrer</button>
          <button class="btn btn-secondary" routerLink="/products">Annuler</button>
        </form>
      </div>
    </div>
  </div>
</div>

<swal
  #errorSwal
  [showConfirmButton]=false
  [timerProgressBar]="true"
  [timer]="3000"
  [toast]="true"
  icon="error"
  position="top-end"
  title="Nous avons rencontré une erreur lors du traitement de votre demande.">
</swal>
