<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/invoices">Invoices</a></li>
    <li aria-current="page" class="breadcrumb-item active">Add Invoice</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Add invoice</h2>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <aw-wizard>
          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 1 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-step stepTitle="Select customer">
            <div class="row d-flex justify-content-center my-5">
              <div class="col-8">
                <h4 class="fw-bold mb-3 text-center">Choose or search for a customer from the list below.</h4>
                <div class="">
                  <ng-select (change)="onChangeCustomer()"
                             [(ngModel)]="selectedCustomerIce"
                             [items]="customers"
                             [searchFn]="customSearchFn"
                             [virtualScroll]="true"
                             bindLabel="name"
                             bindValue="ice"
                             name="customerId"
                             placeholder="type to search for a customer">
                    <ng-template let-item="item" ng-option-tmp>
                      ICE: <strong>{{item.ice}}</strong><br/>
                      Name: <strong>{{item.name}}</strong><br/>
                      <small>Phone: {{item.phone}}</small> <br/>
                      <small>Adresse: {{item.address}}</small> <br/>
                    </ng-template>
                  </ng-select>
                </div>

                <div *ngIf="selectedCustomerIce" class=" ">
                  <div class="card mt-4 ">
                    <div class="card-body">
                      <h4 class="fw-bolder text-center mb-4 text-primary">Selected customer details</h4>
                      <table class="table">
                        <tr>
                          <th>ICE:</th>
                          <td>{{selectedCustomer.ice}}</td>
                        </tr>
                        <tr>
                          <th>Name:</th>
                          <td>{{selectedCustomer.name}}</td>
                        </tr>
                        <tr>
                          <th>Phone:</th>
                          <td>({{selectedCustomer.phone}})</td>
                        </tr>
                        <tr>
                          <th>Adresse:</th>
                          <td>{{selectedCustomer.address}}</td>
                        </tr>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-2">
              <button [disabled]="!selectedCustomerIce" awNextStep class="btn btn-primary w-25" type="button">Continue
              </button>
            </div>
          </aw-wizard-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 1 ------------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->

          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 2 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-step stepTitle="Add Items">
            <!--------------------------------------------------------------------------------------------->
            <!-- START ITEM DETAILS ----------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <h4 class="fw-bold mb-4 mt-5">Choose or search for a items from the list below.</h4>
            <div class="row p-2 bg-light rounded">
              <div class="col-12 col-sm-12 col-md-3 px-md-1">
                <div class="fw-bold text-uppercase">item</div>
                <div>
                  <ng-select (change)="onChangeProduct()"
                             [(ngModel)]="selectedProductId"
                             [items]="products"
                             [searchFn]="customSearchFn"
                             [virtualScroll]="true"
                             bindLabel="name"
                             bindValue="id"
                             name="productId"
                             placeholder="type to search for a product">
                    <ng-template let-item="item" ng-option-tmp>
                      Name: <strong>{{item.name}}</strong><br/>
                      <small>Tax Rate: {{getTaxRateDisplayValue(item.taxRate)}} </small> <br/>
                      <small>Unit Price (VAT Exclusive): ${{item.sellingPriceExcludingTax}} </small> <br/>
                      <small>Unit Price (VAT
                        Inclusive):&nbsp;${{getSellingPriceIncludingTaxes(item.taxRate, item.sellingPriceExcludingTax)}} </small>
                      <br/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">QUANTITY</div>
                <div>
                  <input
                    (change)="onChangeUnitPriceAndQuantity()"
                    (keydown)="saveOldValue($event)"
                    (keyup)="checkValue($event)"
                    [(ngModel)]="item.quantity"
                    [disabled]="products.length === 0 || !selectedProductId"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    type="number"
                  ></div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">unit price</div>
                <div>
                  <input
                    (change)="onChangeUnitPriceAndQuantity()"
                    (keydown)="saveOldUnitPriceValue($event)"
                    (keyup)="checkUnitPriceValue($event)"
                    [(ngModel)]="item.unitPrice"
                    [disabled]="products.length === 0 || !selectedProductId"
                    class="form-control"
                    id="unitPrice"
                    name="unitPrice"
                    type="number"
                  >
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">tax%</div>
                <div>
                  <input
                    [value]="taxPercentage"
                    class="form-control"
                    disabled
                    type="text"
                  >
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">amount</div>
                <div>
                  <input
                    [value]="amount"
                    class="form-control"
                    disabled
                    type="number"
                  >
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-1 px-sm-0 px-lg-1">
                <div>&nbsp;</div>
                <div>
                  <button
                    (click)="addItem()"
                    [disabled]="products.length === 0 || !selectedProductId || amount <= 0"
                    class="btn btn-primary w-100 px-md-1">
                    <i class="feather icon-plus"></i>Add
                  </button>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------------------------------->
            <!-- END ITEM DETAILS ------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->

            <hr>

            <!--------------------------------------------------------------------------------------------->
            <!-- START SELECTED ITEMS --------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <div class="row">
              <h4 class="my-4">Selected items details</h4>
              <div class="table-responsive px-0 rounded">
                <table class="table table-bordered table-hover table-sm">
                  <thead class="table-dark">
                  <tr>
                    <th class="fw-bolder">Item</th>
                    <th class="fw-bolder">Quantity</th>
                    <th class="fw-bolder">Unit Price</th>
                    <th class="fw-bolder">Tax%</th>
                    <th class="fw-bolder">Amount</th>
                    <th class="fw-bolder">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="!(items.length > 0)">
                    <td class="text-center" colspan="6">No items have been selected yet.</td>
                  </tr>
                  <tr *ngFor="let item of items" class="add-row">
                    <td>
                      <input [value]="item.productId" class="form-control" hidden="hidden" name="productId"
                             type="text">
                      <input [value]="getProductById(item.productId).name" class="form-control" disabled
                             name="productName" type="text">
                    </td>
                    <td>
                      <input [value]="item.quantity" class="form-control" disabled name="quantity" type="text">
                    </td>
                    <td>
                      <input [value]="item.unitPrice" class="form-control" disabled name="unitPrice" type="text">
                    </td>
                    <td>
                      <input [value]="getTaxRateDisplayValue(getProductById(item.productId).taxRate)"
                             class="form-control" disabled name="unitPrice" type="text">
                    </td>
                    <td>
                      <input [value]="getItemSellingPriceIncludingTaxes(item)" class="form-control" disabled
                             type="text">
                    </td>
                    <td class="add-remove text-end">
                      <button (click)="removeItem(item)" class="btn btn-danger">
                        <i class="feather icon-trash-2"></i>&nbsp;Remove
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <hr class="">
            </div>
            <!--------------------------------------------------------------------------------------------->
            <!-- END SELECTED ITEMS ----------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->

            <!--------------------------------------------------------------------------------------------->
            <!-- START SUMMARY ---------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <div class="row mt-3 mb-5">
              <div class="offset-lg-7 offset-md-6  col-lg-5 col-md-6 ">
                <div class="invoice-total-card">
                  <div class="invoice-total-box">
                    <div class="invoice-total-inner">
                      <h4 class="my-1">Summary</h4>
                    </div>
                    <div class="invoice-total-inner">
                      <p>Total excl. VAT <span>${{totalExcludingTaxes}}</span></p>
                      <p>Taxable Amount <span>${{total - totalExcludingTaxes}}</span></p>
                    </div>
                    <div class="invoice-total-footer">
                      <h4>Total incl. VAT <span>$ {{total}}</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--- ----------------------------------------------------------------------------------------->
            <!-- END SUMMARY ------------------------------------------------------------------------------>
            <!--- ----------------------------------------------------------------------------------------->


            <div class="d-flex justify-content-center mt-2">
              <button awPreviousStep class="btn btn-secondary me-5 w-25" type="button">Back</button>
              <button (click)="onSave()" [disabled]="items.length === 0 || !selectedCustomerIce" awNextStep
                      class="btn btn-primary w-25"
                      type="button"> Save & Continue
              </button>
            </div>
          </aw-wizard-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 2 ------------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->

          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 3 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-completion-step stepTitle="Print Invoice">
            <div class="row my-3">
              <div class="d-flex justify-content-end">
                <button
                  (click)="convertToPDF()"
                  class="btn btn-primary float-end w-25">
                  <i class="feather icon-printer"></i>
                  Print
                </button>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card" id="invoice" style="min-height: 1310px">
                <div class="card-body">
                  <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 ps-0">
                      <div class="mb-5 ">
                        <a class="nobleui-logo mb-5" routerLink=".">
                          <img
                            alt="logo"
                            class="rounded mx-auto d-block mb-4 mt-2"
                            src="assets/images/logo-black.png"
                            style="height: 88px;">
                        </a>
                      </div>
                      <div class="my-5 pt-5">
                        <h3 class="mb-2  pt-5 text-muted">Invoice from :</h3>
                        <table class="table">
                          <tr>
                            <th>Name:</th>
                            <td>IBSYS SARL AU</td>
                          </tr>
                          <tr>
                            <th>Phone:</th>
                            <td>0522456378</td>
                          </tr>
                          <tr>
                            <th>Email:</th>
                            <td>ibsys@mail.com</td>
                          </tr>
                          <tr>
                            <th>Address:</th>
                            <td>Boulevard Attawhid, Tit Mellil, Casablanca, 26490, Morocco.</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-3 pe-0">
                      <div>
                        <h4 class="fw-bold text-uppercase text-end mt-4 mb-5">invoice</h4>
                        <h6 class="text-end mb-2"># INV-{{savedInvoice?.id}}</h6>
                        <h6 class="text-end fw-normal mb-5">
                          <span class="text-muted">Invoice Date :</span>
                          {{getDisplayDate(savedInvoice?.issueDate)}}
                        </h6>
                      </div>
                      <div class="my-5 pt-2">
                        <h3 class="mt-5 mb-2 text-muted">Invoice to :</h3>
                        <table class="table">
                          <tr>
                            <th>Name:</th>
                            <td>{{savedInvoice?.customer?.name}}</td>
                          </tr>
                          <tr>
                            <th>Phone:</th>
                            <td>{{savedInvoice?.customer?.phone}}</td>
                          </tr>
                          <tr>
                            <th>Email:</th>
                            <td>{{savedInvoice?.customer?.email}}</td>
                          </tr>
                          <tr>
                            <th>Address:</th>
                            <td>{{savedInvoice?.customer?.address}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid my-5 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100 rounded">
                      <table class="table table-bordered rounded table-striped">
                        <thead class="table-dark">
                        <tr>
                          <th class="bolder">Barcode</th>
                          <th class="bolder">Description</th>
                          <th class="text-end bolder">Quantity</th>
                          <th class="text-end bolder">Unit price</th>
                          <th class="text-end bolder">Tax rate</th>
                          <th class="text-end bolder">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of savedInvoice?.items" class="text-end">
                          <td class="text-start">{{item?.product?.barCode}}</td>
                          <td class="text-start">{{item?.product?.name}}</td>
                          <td>{{item?.quantity}}</td>
                          <td>$ {{item?.unitPrice}}</td>
                          <td>{{getTaxRateDisplayValue(item?.product?.taxRate)}}</td>
                          <td>
                            $ {{  getSellingPriceIncludingTaxes(item?.product?.taxRate, item?.unitPrice) * (item?.quantity ?? 0)}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="my-5 me-5 w-100 py-5">
                    <div class="row ">
                      <div class="col-md-6 ms-auto">
                        <div class="card  table-responsive">
                          <table class="table">
                            <tbody>
                            <tr>
                              <td>Total exclu. VTA</td>
                              <td class="text-end">$ {{totalExcluVTA}}</td>
                            </tr>
                            <tr>
                              <td>TAX</td>
                              <td class="text-end">$ {{totalIncluVTA - totalExcluVTA}}</td>
                            </tr>
                            <tr class="bg-light">
                              <td class="text-bold-800">Total inclu. VTA</td>
                              <td class="text-bold-800 text-end">$ {{totalIncluVTA}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-success w-25" routerLink="/invoices" type="button">Finish</button>
            </div>
          </aw-wizard-completion-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 3 ------------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
        </aw-wizard>
      </div>
    </div>
  </div>
</div>
