<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li class="breadcrumb-item"><a routerLink="/invoices">Factures</a></li>
    <li aria-current="page" class="breadcrumb-item active">Ajouter une facture</li>
  </ol>
</nav>


<div class="row mb-5">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <aw-wizard>
          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 1 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-step stepTitle="Sélectionner le client">
            <div class="row d-flex justify-content-center mt-5 mb-3">
              <div class="col-8">
                <h4 class="fw-bold mb-3 text-center">Choisissez ou recherchez un client dans la liste ci-dessous.</h4>
                <div class="">
                  <ng-select (change)="onChangeCustomer()"
                             [(ngModel)]="selectedCustomerIce"
                             [items]="customers"
                             [searchFn]="customSearchFn"
                             [virtualScroll]="true"
                             bindLabel="name"
                             bindValue="ice"
                             name="customerId"
                             placeholder="Tapez pour rechercher un client">
                    <ng-template let-item="item" ng-option-tmp>
                      ICE : <strong>{{item.ice}}</strong><br/>
                      Nom : <strong>{{item.name}}</strong><br/>
                      <small>Téléphone : {{item.phone}}</small> <br/>
                      <small>Adresse : {{item.address}}</small> <br/>
                    </ng-template>
                  </ng-select>
                </div>

                <div *ngIf="selectedCustomerIce" class=" ">
                  <div class="card mt-4 ">
                    <div class="card-body">
                      <h4 class="fw-bolder text-center mb-4 text-primary">Détails du client sélectionné</h4>
                      <table class="table">
                        <tr>
                          <th>ICE :</th>
                          <td>{{selectedCustomer.ice}}</td>
                        </tr>
                        <tr>
                          <th>Nom :</th>
                          <td>{{selectedCustomer.name}}</td>
                        </tr>
                        <tr>
                          <th>Téléphone :</th>
                          <td>({{selectedCustomer.phone}})</td>
                        </tr>
                        <tr>
                          <th>Adresse :</th>
                          <td>{{selectedCustomer.address}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button [disabled]="!selectedCustomerIce" awNextStep class="btn btn-primary w-25" type="button">
                Continuer
              </button>
            </div>
          </aw-wizard-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 1 ------------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->

          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 2 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-step stepTitle="Ajouter des articles">
            <!--------------------------------------------------------------------------------------------->
            <!-- START ITEM DETAILS ----------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->

            <div class="row mt-4 mb-3">
              <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h4 class="fw-bold">Choisissez ou recherchez des articles dans la liste ci-dessous.</h4>
                <button (click)="openGenerateQRCodeModal(generateQRCodeModal)"
                        class="btn btn-primary btn-sm position-relative"
                        id="scannerBtn"
                        type="button">
                  <svg
                    class="bi bi-upc-scan"
                    fill="currentColor"
                    height="16"
                    viewBox="0 0 16 16"
                    width="16"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                  </svg>&nbsp;Connect scanner
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    Nouveau
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
            </div>


            <div class="row p-2 bg-light rounded">
              <div class="col-12 col-sm-12 col-md-3 px-md-1">
                <div class="fw-bold text-uppercase">Article</div>
                <div>
                  <ng-select (change)="onChangeProduct()"
                             [(ngModel)]="selectedProductId"
                             [items]="products"
                             [searchFn]="customSearchFn"
                             [virtualScroll]="true"
                             bindLabel="name"
                             bindValue="id"
                             name="productId"
                             placeholder="Tapez pour rechercher un produit">
                    <ng-template let-item="item" ng-option-tmp>
                      Nom : <strong>{{item.name}}</strong><br/>
                      <small>Taux de taxe : {{getTaxRateDisplayValue(item.taxRate)}} </small> <br/>
                      <small>Prix unitaire (hors taxe) : {{item.sellingPriceExcludingTax}} </small> <br/>
                      <small>Prix unitaire (toutes taxes comprises)
                        :&nbsp;{{getSellingPriceIncludingTaxes(item.taxRate, item.sellingPriceExcludingTax)}} </small>
                      <br/>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">quantité</div>
                <div>
                  <input
                    (change)="onChangeUnitPriceAndQuantity()"
                    (keydown)="saveOldValue($event)"
                    (keyup)="checkValue($event)"
                    [(ngModel)]="item.quantity"
                    [disabled]="products.length === 0 || !selectedProductId"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    type="number"
                  ></div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">prix unitaire</div>
                <div>
                  <input
                    (change)="onChangeUnitPriceAndQuantity()"
                    (keydown)="saveOldUnitPriceValue($event)"
                    (keyup)="checkUnitPriceValue($event)"
                    [(ngModel)]="item.unitPrice"
                    [disabled]="products.length === 0 || !selectedProductId"
                    class="form-control"
                    id="unitPrice"
                    name="unitPrice"
                    type="number"
                  >
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">Taux de taxe %</div>
                <div>
                  <input
                    [value]="taxPercentage"
                    class="form-control"
                    disabled
                    type="text"
                  >
                </div>
              </div>
              <div class="col-6 col-sm-3 col-md-2 px-md-1">
                <div class="fw-bold text-uppercase">Montant</div>
                <div>
                  <input
                    [value]="amount.toFixed(2)"
                    class="form-control"
                    disabled
                    type="number"
                  >
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-1 px-sm-0 px-lg-1">
                <div>&nbsp;</div>
                <div>
                  <button
                    (click)="addItem()"
                    [disabled]="products.length === 0 || !selectedProductId || amount <= 0"
                    class="btn btn-primary w-100 px-md-0">
                    <i class="feather icon-plus"></i>Ajouter
                  </button>
                </div>
              </div>
            </div>
            <!--------------------------------------------------------------------------------------------->
            <!-- END ITEM DETAILS ------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->

            <hr>

            <!--------------------------------------------------------------------------------------------->
            <!-- START SELECTED ITEMS --------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <div class="row">
              <h4 class="my-4">Détails des articles sélectionnés</h4>
              <div class="table-responsive px-0 rounded">
                <table class="table table-bordered table-hover table-striped">
                  <thead class="table-dark">
                  <tr>
                    <th class="fw-bolder py-2">Article</th>
                    <th class="fw-bolder py-2">Quantité</th>
                    <th class="fw-bolder py-2">Prix unitaire</th>
                    <th class="fw-bolder py-2">Taux de taxe %</th>
                    <th class="fw-bolder py-2">Montant</th>
                    <th class="fw-bolder py-2">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="!(items.length > 0)">
                    <td class="text-center" colspan="6">Aucun article n'a encore été sélectionné.</td>
                  </tr>
                  <tr *ngFor="let item of items" class="add-row">
                    <td class="py-1">
                      <input [value]="item.productId" class="form-control" hidden="hidden" name="productId"
                             type="text">
                      <input [value]="getProductById(item.productId).name" class="form-control form-control-sm" disabled
                             name="productName" type="text">
                    </td>
                    <td class="py-1">
                      <input [value]="item.quantity" class="form-control form-control-sm" disabled name="quantity"
                             type="text">
                    </td>
                    <td class="py-1">
                      <input [value]="item.unitPrice" class="form-control form-control-sm" disabled name="unitPrice"
                             type="text">
                    </td>
                    <td class="py-1">
                      <input [value]="getTaxRateDisplayValue(getProductById(item.productId).taxRate)"
                             class="form-control form-control-sm" disabled name="unitPrice" type="text">
                    </td>
                    <td class="py-1">
                      <input [value]="getItemSellingPriceIncludingTaxes(item).toFixed(2)" class="form-control form-control-sm"
                             disabled
                             type="text">
                    </td>
                    <td class="add-remove text-end py-1">
                      <button (click)="removeItem(item)" class="btn btn-danger btn-sm">
                        <i class="feather icon-trash-2"></i>&nbsp;Supprimer
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <hr class="">
            </div>
            <!--------------------------------------------------------------------------------------------->
            <!-- END SELECTED ITEMS ----------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->

            <!--------------------------------------------------------------------------------------------->
            <!-- START SUMMARY ---------------------------------------------------------------------------->
            <!--------------------------------------------------------------------------------------------->
            <div class="row mt-3 mb-5">
              <div class="offset-lg-7 offset-md-6  col-lg-5 col-md-6 ">
                <div class="invoice-total-card">
                  <div class="invoice-total-box">
                    <div class="invoice-total-inner">
                      <h4 class="my-1">Résumé</h4>
                    </div>
                    <div class="invoice-total-inner">
                      <p>Total hors TVA <span>{{totalExcludingTaxes.toFixed(2)}}</span></p>
                      <p>Montant taxable <span>{{(total - totalExcludingTaxes).toFixed(2)}}</span></p>
                    </div>
                    <div class="invoice-total-footer">
                      <h4>Total TTC <span>{{total.toFixed(2)}}</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--- ----------------------------------------------------------------------------------------->
            <!-- END SUMMARY ------------------------------------------------------------------------------>
            <!--- ----------------------------------------------------------------------------------------->

            <div class="d-flex justify-content-center mt-2">
              <button awPreviousStep class="btn btn-secondary me-5 w-25" type="button">Retour</button>
              <button (click)="onSave()" [disabled]="items.length === 0 || !selectedCustomerIce" awNextStep
                      class="btn btn-primary w-25"
                      type="button"> Enregistrer et continuer
              </button>
            </div>
          </aw-wizard-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 2 ------------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->

          <!--------------------------------------------------------------------------------------------->
          <!-- START STEP 3 ----------------------------------------------------------------------------->
          <!--------------------------------------------------------------------------------------------->
          <aw-wizard-completion-step stepTitle="Imprimer la facture">
            <div class="row my-3">
              <div class="d-flex justify-content-end">
                <button
                  (click)="convertToPDF()"
                  class="btn btn-primary float-end w-25">
                  <i class="feather icon-printer"></i>
                  Imprimer
                </button>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card" id="invoice" style="min-height: 1310px">
                <div class="card-body">
                  <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 ps-0">
                      <div class="mb-5 ">
                        <a class="nobleui-logo mb-5" routerLink=".">
                          <img
                            alt="logo"
                            class="rounded mx-auto d-block mb-4 mt-2"
                            src="assets/images/logo-black.png"
                            style="height: 88px;">
                        </a>
                      </div>
                      <div class="my-5 pt-5">
                        <h3 class="mb-2  pt-5 text-muted">Facture de :</h3>
                        <table class="table">
                          <tr>
                            <th>Nom :</th>
                            <td>IBSYS SARL AU</td>
                          </tr>
                          <tr>
                            <th>Téléphone :</th>
                            <td>0522456378</td>
                          </tr>
                          <tr>
                            <th>Email :</th>
                            <td>ibsys@mail.com</td>
                          </tr>
                          <tr>
                            <th>Adresse :</th>
                            <td>Boulevard Attawhid, Tit Mellil, Casablanca, 26490, Maroc.</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class="col-lg-3 pe-0">
                      <div>
                        <h4 class="fw-bold text-uppercase text-end mt-4 mb-5">Facture</h4>
                        <h6 class="text-end mb-2"># FACT-{{savedInvoice?.id}}</h6>
                        <h6 class="text-end fw-normal mb-5">
                          <span class="text-muted">Date de la facture :</span>
                          {{getDisplayDate(savedInvoice?.issueDate)}}
                        </h6>
                      </div>
                      <div class="my-5 pt-2">
                        <h3 class="mt-5 mb-2 text-muted">Facturé à :</h3>
                        <table class="table">
                          <tr>
                            <th>Nom :</th>
                            <td>{{savedInvoice?.customer?.name}}</td>
                          </tr>
                          <tr>
                            <th>Téléphone :</th>
                            <td>{{savedInvoice?.customer?.phone}}</td>
                          </tr>
                          <tr>
                            <th>Email :</th>
                            <td>{{savedInvoice?.customer?.email}}</td>
                          </tr>
                          <tr>
                            <th>Adresse :</th>
                            <td>{{savedInvoice?.customer?.address}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid my-5 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100 rounded">
                      <table class="table table-bordered rounded table-striped">
                        <thead class="table-dark">
                        <tr>
                          <th class="bolder">Code-barres</th>
                          <th class="bolder">Description</th>
                          <th class="text-end bolder">Quantité</th>
                          <th class="text-end bolder">Prix unitaire</th>
                          <th class="text-end bolder">Taux de taxe</th>
                          <th class="text-end bolder">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of savedInvoice?.items" class="text-end">
                          <td class="text-start">{{item?.product?.barCode}}</td>
                          <td class="text-start">{{item?.product?.name}}</td>
                          <td>{{item?.quantity}}</td>
                          <td>{{item?.unitPrice}}</td>
                          <td>{{getTaxRateDisplayValue(item?.product?.taxRate)}}</td>
                          <td>{{  getSellingPriceIncludingTaxes(item?.product?.taxRate, item?.unitPrice) * (item?.quantity ?? 0)}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="my-5 me-5 w-100 py-5">
                    <div class="row ">
                      <div class="col-md-6 ms-auto">
                        <div class="card  table-responsive">
                          <table class="table">
                            <tbody>
                            <tr>
                              <td>Total exclu. TVA</td>
                              <td class="text-end">{{totalExcluVTA}}</td>
                            </tr>
                            <tr>
                              <td>TVA</td>
                              <td class="text-end">{{totalIncluVTA - totalExcluVTA}}</td>
                            </tr>
                            <tr class="bg-light">
                              <td class="text-bold-800">Total inclu. TVA</td>
                              <td class="text-bold-800 text-end">{{totalIncluVTA}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <button class="btn btn-success w-25" routerLink="/invoices" type="button">Terminer</button>
            </div>
          </aw-wizard-completion-step>
          <!--------------------------------------------------------------------------------------------->
          <!-- END STEP 3 ------------------------------------------------------------------------------>
          <!--------------------------------------------------------------------------------------------->
        </aw-wizard>
      </div>
    </div>
  </div>
</div>

<ng-template #generateQRCodeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center">Scan this QR Code to link you scanner.</h4>
    <button (click)="modal.dismiss('cancel')" aria-label="Close" class="btn-close" type="button"></button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <div>
      <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="errorCorrectionLevel"
        [margin]="2"
        [scale]="6"
        [value]="cartId">
      </ngx-qrcode>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.dismiss('cancel')" class="btn btn-primary" type="button">close</button>
  </div>
</ng-template>


<swal
  #swal
  [showConfirmButton]=false
  [timerProgressBar]="true"
  [timer]="3000"
  [toast]="true"
  icon="error"
  position="top-end"
  title="">
</swal>
