<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li aria-current="page" class="breadcrumb-item active">Invoices</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Invoices</h2>
    <button class="btn btn-primary" routerLink="add-invoice" type="button">
      <i class="feather icon-plus"></i>
      Add Invoice
    </button>
  </div>
</div>
