<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
    <li aria-current="page" class="breadcrumb-item active">Factures</li>
  </ol>
</nav>

<div class="row ">
  <div class="col-md-12 grid-margin stretch-card d-flex justify-content-between">
    <h2 class="ms-1">Factures</h2>
    <button class="btn btn-primary" routerLink="add-invoice" type="button">
      <i class="feather icon-plus"></i>Ajouter
    </button>
  </div>
</div>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-hover" id="productsDataTable">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nom du client</th>
              <th>Date d'émission</th>
              <th>Total hors TVA (MAD)</th>
              <th>Total Taxes (MAD)</th>
              <th>Total TTC (MAD)</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices">
              <td>FACT-{{invoice?.id}}</td>
              <td>{{invoice?.customer?.name}}</td>
              <td>{{getDisplayDate(invoice?.issueDate)}}</td>
              <td>{{getTotalExcluVTA(invoice?.items).toFixed(2)}}</td>
              <td>{{(getTotalIncluVTA(invoice?.items) - getTotalExcluVTA(invoice?.items)).toFixed(2)}}</td>
              <td>{{getTotalIncluVTA(invoice?.items).toFixed(2)}}</td>
              <td class="d-flex justify-content-end">
                <button
                  class="btn btn-primary me-2 btn-sm"
                  routerLink="preview-invoice/{{ invoice?.id }}"
                  type="button"><i class="feather icon-printer"></i>&nbsp;Aperçu et Imprimer
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
