<nav class="sidebar">
  <div class="sidebar-header">

    <!--- Logo -->

    <a class="sidebar-brand nobleui-logo" routerLink="/">
      <img alt="logo" src="assets/images/logo.png">
    </a>

    <!--- Toggler -->

    <div #sidebarToggler (click)="toggleSidebar($event)" class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div (mouseenter)="operSidebarFolded()" (mouseleave)="closeSidebarFolded()" [perfectScrollbar] class="sidebar-body">

    <!--- Sidemenu start -->

    <ul #sidebarMenu class="sidebar-nav metismenu" id="sidebar-menu">
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="item.isTitle" class="nav-item nav-category">{{ item.label }}</li>

        <li *ngIf="!item.isTitle" class="nav-item">

          <a *ngIf="hasItems(item)" class="nav-link" href="javascript:void(0);">
            <i *ngIf="item.icon" [attr.data-feather]="item.icon" appFeatherIcon class="link-icon"></i>
            <span class="link-title"> {{ item.label }}</span>
            <span appFeatherIcon class="link-arrow" data-feather="chevron-down"></span>
          </a>

          <a *ngIf="!hasItems(item)" [attr.data-parent]="item.parentId" [routerLink]="item.link"
             class="nav-link nav-link-ref">
            <i *ngIf="item.icon" [attr.data-feather]="item.icon" appFeatherIcon class="link-icon"></i>
            <span class="link-title"> {{ item.label }}</span>
            <span *ngIf="item.badge" class="badge bg-{{item.badge.variant}}">{{item.badge.text}}</span>
          </a>

          <ul *ngIf="hasItems(item)" aria-expanded="false" class="sidebar-nav sub-menu nav-second-level">

            <li *ngFor="let subitem of item.subItems" [ngClass]="{'side-nav-item': hasItems(subitem)}" class="nav-item">
              <a *ngIf="hasItems(subitem)" class="nav-link side-nav-link-a-ref" href="javascript:void(0);">
                <i *ngIf="subitem.icon" [attr.data-feather]="subitem.icon" appFeatherIcon class="link-icon"></i>
                <span class="link-title"> {{ subitem.label }}</span>
                <span appFeatherIcon class="link-arrow" data-feather="chevron-down"></span>
              </a>

              <a *ngIf="!hasItems(subitem)" [attr.data-parent]="subitem.parentId" [routerLink]="subitem.link"
                 class="nav-link nav-link-ref">
                <i *ngIf="subitem.icon" [attr.data-feather]="subitem.icon" appFeatherIcon class="link-icon"></i>
                {{ subitem.label }}
              </a>

              <ul *ngIf="hasItems(subitem)" aria-expanded="false" class="sidebar-nav sub-menu nav-third-level">
                <li *ngFor="let subSubitem of subitem.subItems" class="nav-item">
                  <a [attr.data-parent]="subSubitem.parentId" [routerLinkActive]="['active']"
                     [routerLink]="subSubitem.link"
                     class="nav-link nav-link-ref">
                    <i *ngIf="subitem.icon" [attr.data-feather]="subitem.icon" appFeatherIcon class="link-icon"></i>
                    {{ subSubitem.label }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>

    <!--- Sidemenu end -->

  </div>
</nav>
